{% load active_link_tags %}

<div class="col-md-3">
    <div class="dashboard-menu">
        <div class="profile-details position-relative">
            <div class="profile-thumb">
                <img src="{{ prof.image_url }}" alt="{{ user.profile.full_name }}" class="img-fluid" width="155">
            </div>
            <h4>{{ prof.full_name }}</h4>
            <p>{{ request.user.phone }}</p>
        </div>
        <ul class="nav flex-column" role="tablist">
            <li class="nav-item">
                <a class="nav-link {% active_link 'dashboard' strict=True %}" href="{% url 'dashboard' %}">
                    <i class="fi-rs-settings-sliders mr-10"></i>Dashboard
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% active_link 'userOrder' strict=True %}" href="{% url 'userOrder' %}">
                    <i class="fi-rs-shopping-bag mr-10"></i>Orders
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fi-rs-shopping-cart-check mr-10"></i>Track Your Order
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% active_link 'customer_address' strict=True %}" href="{% url 'customer_address' %}">
                    <i class="fi-rs-marker mr-10"></i>My Address
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% active_link 'userProfile' strict=True %}"
                   href="{% url 'userProfile' %}">
                    <i class="fi-rs-user mr-10"></i>Account details
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}"><i class="fi-rs-sign-out mr-10"></i>Logout</a>
            </li>
        </ul>
    </div>
</div>