{% extends 'inc/base.html' %}
{% load static %}

{% block title %} Verify Otp {% endblock title %}

{% block content %}
    <main class="main pages">
        <div class="page-content pt-150 pb-150">
            <div class="container">
                <div class="row">
                    <div class="col-xl-8 col-lg-10 col-md-12 m-auto">
                        {% if messages %}
                            {% for m in messages %}
                                <div class="alert {{m.tags}}" id="alertMessage">
                                    <strong>{{ m }}</strong>
                                </div>
                            {% endfor %}
                        {% endif %}
                        <div class="row">
                            <div class="col-lg-6 col-md-8">
                                <div class="login_wrap widget-taber-content background-white">
                                    <div class="padding_eight_all bg-white">
                                        <div class="heading_s1">
                                            <h1 class="mb-5">Login</h1>
                                        </div>
                                        <br>
                                        <form action="" method="POST">
                                            {% csrf_token %}
                                            <div class="form-group">
                                                <label class="form-label">Enter your OTP</label>
                                                <input type="number" class="form-control" name="otp" placeholder="1234">
                                            </div>
                                            <br>
                                            {% if request.path == '/mobile/otp/' %}
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-heading btn-block hover-up">Login</button>
                                            </div>
                                            {% else %}
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-heading btn-block hover-up">Register</button>
                                            </div>
                                            {% endif %}
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock content %}